.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: blanchedalmond;

    .search-container {
        width: 45%;
        display: flex;
        align-items: center;

        .search-box {
            padding: 5px 10px;
            width: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .submit {
            padding: 6px 20px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: none;
        }
    }

    .links-container {
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        .cart {
            width: 8%;
            position: relative;
            display: flex;
            cursor: pointer;

            .carticon {
                width: 100%;
            }

            .cart-item-count {
                position: absolute;
                top: -8px;
                right: -5px;
                background-color: white;
                padding: 0 4px;
                border-radius: 50%;
            }
        }
    }

}